//  GRID.
  
  .row
  {
    margin: 0 0 -1px ($size-element-margin * -1);
    
    + *
    {
      clear:both;
    }
    
    &.right
    {
      > *
      {
        float:right;
      }
    }
    
    > *
    {
      padding: 0 0 0 $size-element-margin;
      float:left;
    }
    
    &.uniform
    {
      margin-top:($size-element-margin * -1);
      
      > *
      {
        padding-top:$size-element-margin;
      }
    }
    
    // Additional row-spacing sizes
    // INCREDIBLY awkward notation :(, but it works
    @each $name, $size in (0: 0, 2 5: 25, 5 0: 50, 7 5: 75, 1 25: 125, 1 50: 150, 1 75: 175, 2 25: 225, 2 50: 250, 3 25: 325, 3 50: 350, 4 50: 450)
    {
      &.\3#{$name}\25
      {
        margin: 0 0 -1px ($size-element-margin * ($size / -100));

        > *
        {
          padding: 0 0 0 ($size-element-margin * ($size / 100));
        }

        &.uniform 
        {
          margin-top:($size-element-margin * ($size / -100));
          
          > *
          {
            padding-top:($size-element-margin * ($size / 100));
          }
        }
      }
    }
    
    &:after, &:before
    {
      content: '';
      display: block;
      clear: both;
      height: 0;
    }
  }
  
  // Clearing within rows
  // INCREDIBLY awkward notation :(, but it works
  @each $name, $units in (1 2: 12, 1 1: 11, 1 0: 10, 9: 9, 8: 8, 7: 7, 6: 6, 5: 5, 4: 4, 3: 3, 2: 2, 1: 1, 0: 0)
  {
    .\3#{$name}u, .\3#{$name}u\24
    {
      width: (($units / 12) * 100%);
      margin-left: 0;
    }
    
  }
  
  // Awkward addit for fifths
  .f5, .f5\24
  {
    width:20%;
    margin-left:0;
  }
  
  .\31 2u\24 + *,
  .\31 1u\24 + *,
  .\31 0u\24 + *,
  .\39 u\24 + *,
  .\38 u\24 + *,
  .\37 u\24 + *,
  .\36 u\24 + *,
  .\35 u\24 + *,
  .\34 u\24 + *,
  .\33 u\24 + *,
  .\32 u\24 + *,
  .\31 u\24 + *,
  .\30 u\24 + *,
  .f5\24 + *
  {
    clear: left;
  }
  
  // Responsive sizing at various breakpoints
  // @each $size, $breakpoint in (sm: $breakpoint-sm, smmd: $breakpoint-smmd, md: $breakpoint-md, mdlg: $breakpoint-mdlg, lg: $breakpoint-lg, xl: $breakpoint-xl)
  @each $size, $breakpoint in ( xl: $breakpoint-xl, lg: $breakpoint-lg, mdlg: $breakpoint-mdlg, md: $breakpoint-md, smmd: $breakpoint-smmd, sm: $breakpoint-sm)
  {
    @include breakpoint($breakpoint)
    {
      @each $name, $units in (1 2: 12, 1 1: 11, 1 0: 10, 9: 9, 8: 8, 7: 7, 6: 6, 5: 5, 4: 4, 3: 3, 2: 2, 1: 1, 0: 0)
      {
        .\3#{$name}u\28 #{$size}\29, .\3#{$name}u\24\28 #{$size}\29
        {
          width: (($units / 12) * 100%);
          clear:none;
        }
      }
      
      // Awkward addition for fifths 
      .f5\28 #{$size}\29, .f5\24\28 #{$size}\29
      {
        width:20%;
        clear:none;
      }
      
      .\312u\24\28 #{$size}\29 + *,
      .\311u\24\28 #{$size}\29 + *,
      .\310u\24\28 #{$size}\29 + *,
      .\39u\24\28 #{$size}\29 + *,
      .\38u\24\28 #{$size}\29 + *,
      .\37u\24\28 #{$size}\29 + *,
      .\36u\24\28 #{$size}\29 + *,
      .\35u\24\28 #{$size}\29 + *,
      .\34u\24\28 #{$size}\29 + *,
      .\33u\24\28 #{$size}\29 + *,
      .\32u\24\28 #{$size}\29 + *,
      .\31u\24\28 #{$size}\29 + *,
      .\30u\24\28 #{$size}\29 + *,
      .f5\24\28 #{$size}\29 + *
      {
        clear:left;
      }
    }
  }