@mixin breakpoint($breakpoint)
{
  $query: 'screen and (' + $breakpoint-var + ': ' + $breakpoint + $breakpoint-measure + ')';
    
  @media #{$query}
  {
    @content;
  }
}

@mixin pageHeading () {
  font-size: 38px;
  line-height: 43px;
  margin: 0 25px 20px 0;
  color: #148C98;
  @include breakpoint ($breakpoint-lg) { font-size: 36px; }
  @include breakpoint ($breakpoint-md) { font-size: 32px; }
  @include breakpoint ($breakpoint-sm) { font-size: 30px; }
}

@mixin pageSubheadingText () {
  color: #6C999D;
  margin-bottom: 25px;
  font-size: 19px;
  line-height: 29px;
  @include breakpoint ($breakpoint-md) { font-size: 17px; }
  @include breakpoint ($breakpoint-smmd) { font-size: 16px; line-height: 25px; }
}

@mixin pageSubMenu () {
  float: right;
  width: 250px;
  li {
    text-transform: uppercase;
    border-top: 1px solid #D5D5D5;
    &:last-child {
      border-bottom: 1px solid #D5D5D5;
    }
  }
  li a {
    padding: 20px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #6C999D;
    display: inline-block;
    // @include breakpoint ($breakpoint-md) { font-size: 12px; padding: 10px; }
    &.active {
      color: #E97738;
    }
    &.active:after {
      content: ' ';
      display: inline-block;
      position: relative;
      margin-left: 10px;
      width: 0;
      height: 0;
      top: -1px;
      border-style: solid;
      border-width: 5.5px 0 5.5px 6px;
      border-color: transparent transparent transparent #E96D34;
    }
  }
}

@mixin contentContainer() {
  .content-container {
    padding: 0 35px;
    @include breakpoint ($breakpoint-smmd) { padding: 0 15px; }
  }
}