.full-width {
  width: 100%;
}

.noscroll {
  overflow: hidden;
  overflow-x: hidden;
}

.content-container {
  max-width: $breakpoint-xl + px;
  // width: $breakpoint-xl + px;
  margin: 0 auto;
}

.button {
  padding: 12px 26px;
  border: none;
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 600;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: .5px;
  cursor: pointer;
  margin-bottom: $min-button-margin-bottom;

  &:not([type="submit"]) {
    @include breakpoint ($breakpoint-smmd) { padding: 8px 16px; font-size: 11px; letter-spacing: 0; }
  }

  &.button-primary {
    color: $color-button-primary-text;
    background: $color-button-primary-bg;
    font-weight: normal;
    box-shadow: 0 1px 2px 0px #565656;
    &:hover {
      box-shadow: 0 1px 2px 0 #b5b5b5;
      background: #E1E2E4;
      color: #148C99;
    }
  }

  &.button-secondary {
    color: $color-button-secondary-text;
    background: $color-button-secondary-bg;
    box-shadow: 0 1px 2px 0px #565656;
    &:hover {
      background: #148C99;
      color: #FFFFFF;
    }
  }
}

.text-center {
  text-align: center;
}

.input-group {
  display: table;
  input {
    display: table-cell;
  }
  button {
    margin-bottom: 0;
  }
  .input-group-button {
    display: table-cell;
    vertical-align: middle;
  }
}

.page-hero {
  background: #158DA5;
  padding: 49px 0;
  @include breakpoint ($breakpoint-smmd) { padding: 30px 0; }
  .content-container {
    padding: 0 35px;
  }
  .left-content {
    @include breakpoint ($breakpoint-smmd) { width: 100%; text-align: center; }
  }
  h2 {
    color: $color-h2;
    font-size: 42px;
    font-family: 'Open Sans';
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0,0,0, .15);
    @include breakpoint ($breakpoint-smmd) { font-size: 22px; line-height: 20px; }
    position: relative;
    z-index: 5;
  }
}

.flag {
  display: block;
  width: 95%;
  height: 4px;
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  margin-top: 13px;
  @include breakpoint ($breakpoint-smmd) { display: none; }
}

.text-tab {
  position: relative;
  
  // can't think of a non-complicated way to do this aside from this way,
  // this works but with the drawback of wrapping with a line
  // setting a max-height of the biggest possible heading (h1) helps but isn't perfect
  &:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 7px;
    height: 80%;
    max-height: 35px;
    top: 3px;
    left: -20px;
    @include breakpoint ($breakpoint-smmd) { display: none; }
  }
}

.text-tab.blue-tab:before {
  background: #84B2C6;
}

.text-tab.yellow-tab:before {
  background: #EACA3F;
}

.card {
  background: #FFFFFF;
  overflow: hidden;
  box-shadow: 0 2px 4px 3px rgba(30, 64, 88, 0.13);

  .card-content, &.card-content {
    padding: 20px;
    @include breakpoint ($breakpoint-smmd) { padding: 15px 15px; }
  }

  p, li {
    color: $color-main-copy;
    font-size: 14px;
    @include breakpoint ($breakpoint-smmd) { font-size: 11.5px; line-height: 17px;}
  }
  ul {
    margin-bottom: 15px;
  }
  li {
    margin-bottom: 8px;
    position: relative;

    &:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 5px;
      height: 5px;
      background: $color-main-copy;
      border-radius: 100%;
      @include breakpoint ($breakpoint-smmd) { 
        width: 3px;
        height: 3px;
        display: block;
        position: absolute;
        top: 8px;
        left: -7px;
      }
    }
  }

  p {
    line-height: 22px;
    @include breakpoint ($breakpoint-smmd) { line-height: 20px; }
  }

  img {
    width: 100%;
    border-bottom: 5px solid $color-main-yellow;
  }

  h4 {
    font-size: 32px;
    font-weight: 400;
    color: #148C98;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 15px;
    line-height: 24px;
    color: #7CA9BE;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: .5px;
    @include breakpoint ($breakpoint-smmd) { font-size: 13.5px; line-height: 15px; }
  }

  .card-footer {
    padding: 10px 0 0;
    margin: 10px 0 0 0;
    font-size: 12px;
    &.with-border:before {
      content: ' ';
      display: block;
      width: 100%;
      height: 2px;
      border-top: 1px solid #D5D5D5;
      border-bottom: 1px solid #D5D5D5;
      margin-bottom: 10px
    }
  }

  .more-link {
    color: #E96D34;
    text-transform: uppercase;

    &:after {
      content: ' ';
      display: inline-block;
      position: relative;
      margin-left: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5.5px 0 5.5px 6px;
      border-color: transparent transparent transparent #E96D34;
      @include breakpoint ($breakpoint-smmd) { border-width: 4px 0 4px 5px; margin-left: 5px; }
    }
  }
}

.page-header {
  @include pageHeading();
}
.page-subheading {
  @include pageSubheadingText();
}
.page-description {
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}

.page-menu {
  @include pageSubMenu();
  @include breakpoint ($breakpoint-md) { display: none; }
}
.page-menu-header {
  font-size: 24px;
  letter-spacing: .5px;
  color: #148C98;
  font-weight: 600;
  margin-bottom: 20px;
  &:not(:nth-of-type(1)) {
    margin-top: 35px;
  }
}

.office-info {
  font-size: 13px;
  line-height: 23px;
  a {
    color: #E96E2E;
  }
}


.page-menu button {
  margin-bottom: 15px;
  padding: 10px 20px;
  background: #F3F3F3;
  box-shadow: 0 1px 3px 0 rgba(86, 86, 86, 0.55);
  width: 100%;
  text-align: left;
  .icon {
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
  }
}

b{
  font-weight: 600;
}

body {
  background: #EFEFEF;
}

.custom-checkbox {
  position: relative;
  height: 13px;
  width: 14px;
  display: inline-block;

  input {
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    display: block;
    margin: 20px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
  }

  label {
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 13px;
    display: block;
    pointer-events: none;
    background: #FFFFFF;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    &:after {
      content: ' ';
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 3\1px;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background .05s linear;
    }
  }

  input:checked + label:after {
    content: ' ';
    font-size: 15px;
    background: $color-main-green;
    background-image: url(../img/checkmark.png);
    background-repeat: no-repeat;
    background-position: 2px 2.5px;
    color: #FFFFFF;
    text-indent: 2px;
    line-height: 1;
    box-shadow: none;
  }

  input:focus + label:after {
    // outline: 1px auto gray;
  }

}

.custom-radio {
  position: relative;
  height: 14px;
  width: 14px;
  display: inline-block;
   input {
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    display: block;
    margin: 20px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
  }
  label {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    display: block;
    pointer-events: none;
    border-radius: 200px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    &:after {
      content: ' ';
      background: white;
      border-radius: 200px;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background .05s linear;
    }
  }
  input:checked + label {
    height: 6px;
    width: 6px;
  }
  input:checked + label:after {

    font-size: 15px;
    // background: ;
    border: 6px solid #148C98;
    border-radius: 200px;
    color: #FFFFFF;
    text-indent: 2px;
    line-height: 1;
    box-shadow: none;
  }
}
