// Breakpoints.
  $breakpoint-var:      'max-width';
  $breakpoint-var-inverse:  'max-width';
  $breakpoint-measure:    px;
  $breakpoint-sm:       480;
  $breakpoint-smmd:     600;
  $breakpoint-md:       760;
  $breakpoint-mdlg:     900;
//  $breakpoint-lg:       1024;
  $breakpoint-lg:       1150;
  $breakpoint-xl:       1212;
  
// Size.
  $size-border-radius:    4px;
  $size-border-width:     1px;
  $size-element-height:   2.75em;
  $size-element-margin:   1em;
  
// Font.
  $font-family:       'Open Sans', sans-serif;
  $font-family-alt:     'Montserrat', sans-serif;
  $font-family-serif:     'PT Serif', serif;
  $font-family-fixed:     'Droid Sans Mono', "Courier New", monospace;
  $font-weight-light:     300;
  $font-weight:       400;
  $font-weight-semibold:    600;
  $font-weight-bold:      700;
  
// Transition Duration.
  $duration-transition:   0.25s;
  
// Color.
  $color-bg: #F0F0F0;
  
  $color-main-green: #148B97;
  $color-main-yellow: #EACA4A;
  $color-main-copy: #6A6A6A;

  $color-h1: #FFFFFF;
  $color-h2: #FFFFFF;
  $color-h3: #FFFFFF;
  $color-h4: #669792;
  $color-h5: #78A6BD;
  $color-h6: #148C98;

  $color-green-overlay: #1690A9;
  $color-green-pattern-placeholder: #41A4AE;

  $color-pre-nav-bg: #148C98;
  $color-pre-nav-item-text: #FFFFFF;
  $color-post-nav-bg: #EBCA4A;
  $color-post-nav-item-text: #947F2F;

  $color-nav-level-1-text: #8F8F8F;

  $color-button-primary-bg: #219DA9;
  $color-button-primary-text: #FFFFFF;

  $color-button-secondary-bg: #F5F6F7;
  $color-button-secondary-text: #3A5B76;

  $color-home-hero-overlay: #168FAA;
  
  //guarantee box-shadow shows up on all buttons
  $min-button-margin-bottom: 3px;
