@import 'reset';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'utils';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/home';
@import 'partials/services';
@import 'partials/expertise-detail';
@import 'partials/our-physicians';
@import 'partials/patients';
@import 'partials/make-appointment';
@import 'partials/contact';

body {
  background: $color-bg;
  font-family: $font-family;
  color: $color-main-copy;
}

.home-hero{
  background: url(../img/hero-bg.png);
  background-repeat: repeat-x;
}

.page-hero {
  position: relative;
  background: url(../img/page-hero-bg.png);
  background-repeat: repeat-x;
  &:after{
    display: block;
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 770px;
    background: url(../img/page-hero-desktop.png);
    background-size: cover;
    z-index: 1;
    position: absolute;
    max-height: 100%;
    max-width: 775px;
    @include breakpoint ($breakpoint-xl) { right: -100px; }
    @include breakpoint ($breakpoint-lg) { right: -250px; }
    @include breakpoint ($breakpoint-mdlg) { display: none; }
  }
}