.page-contact {
  margin-top: 40px;

  @include contentContainer();

  .page-header {
    font-size: 36px;
    margin-bottom: 30px;
    margin-right: 0;
    @include breakpoint ($breakpoint-lg) { margin-bottom: 10px; font-size: 25px; } 
  }
 
  .page-subheading {
    line-height: 31px;
    @include breakpoint ($breakpoint-lg) { font-size: 18px; line-height: 25px; } 
  }

  .form-wrapper {
    margin-top: 50px;
    width: 60%;
    float: left;
    @include breakpoint ($breakpoint-lg) { margin-top: 10px; } 
    @include breakpoint ($breakpoint-md) { float: none; width: 100%; } 

    .page-header {
      @include breakpoint ($breakpoint-md) { margin: 30px 0 0; } 
    }
  }
  
  .contact-header-wrapper {
    width: 60%;
    float: left;
    @include breakpoint ($breakpoint-md) { float: none; width: 100%; } 
  }
  
  .page-menu {
    @include breakpoint ($breakpoint-md) { float: none; width: 100%; display: block;} 

    button {
      margin-bottom: $min-button-margin-bottom;
      margin-top: 10px;
      width: 160px;
      font-size: 14px;
      white-space: nowrap;
    }
  }
  
  .office-info {
    @include breakpoint ($breakpoint-lg) { font-size: 15px; } 
  }
}