.page-expertise {
  margin-top: 50px;
  @include breakpoint ($breakpoint-smmd) { margin-top: 25px; }
  @include contentContainer();
  
  p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
  }
  
  .service-main-copy ul {
    margin-left: 35px;
  }
  
  li {
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
  }

  h6 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    color: #148C98;
  }
  
  .service-headings-wrapper {
    float: left;
    width: 60%;
    @include breakpoint ($breakpoint-md) { width: 100%; float: none;}
  }

  .service-main-copy {
    width: 60%;
    @include breakpoint ($breakpoint-md) { width: 100%; clear: both; }
  }

}