.pre-header {
  width: 100%;
  border-bottom: 1px solid #D4D4D4;
  @include breakpoint ($breakpoint-smmd) { background: $color-main-green; }
}

header {
  background: #F9FAFA;
  font-family: $font-family-alt;
  font-weight: 400;

  .action-items {
    font-size: 0;
    @include breakpoint ($breakpoint-smmd) { display: none; }
    li {
      display: inline-block;
    }

    a {
      color: $color-pre-nav-item-text;
      display: inline-block;
      background: $color-pre-nav-bg;
      text-transform: uppercase;
      border-right: 1px solid #D4D4D4;
      &:hover {
        background: #C36F2E;
      }
    }
  }

  .phone-info, .action-items a {
    padding: 16px 20px;
    font-size: 12px;
    @include breakpoint ($breakpoint-mdlg) { padding: 14px 12px; font-size: 10px; font-weight: 300; }
    @include breakpoint ($breakpoint-smmd) { padding: 8px 12px; }
  }

  .phone-info {
    font-weight: 400;
    color: #8F8F8F;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    @include breakpoint ($breakpoint-smmd) { border: none; color: #FFF; }

    em {
      color: $color-main-green;
      @include breakpoint ($breakpoint-smmd) { color: #FFF; }
    }
  }

}

.main-header {
  background: #FFFFFF;
  position: relative;

  .content-container {
    padding: 0 35px;
    @include breakpoint ($breakpoint-smmd) { padding: 0 10px; }
  }
  .logo {
    padding: 35px 0 35px 0;
    max-width: 400px;
    display: inline-block;
    vertical-align: middle;
    @include breakpoint ($breakpoint-smmd) { width: 85%; padding: 12px 10px;  max-width: 300px;} 
    img {
      width: 100%;
      max-width: 400px;
    }
  }
  .mobile-nav-open-button {
    display: none;
    position: absolute;
    top: 40px;
    right: 25px;
    @include breakpoint ($breakpoint-lg) { display: block; } 
    @include breakpoint ($breakpoint-smmd) {
      top: 10px;
      right: 15px;
    } 
  }
}

nav.desktop {
  display: inline-block;
  vertical-align: middle;
  right: -5%;
  position: relative;
  ul {
    @include breakpoint ($breakpoint-lg) { display: none; }
  }
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    z-index: 5;

    &:hover {
      > a {
        background: #308C8E;
        color: #FFFFFF;
      }
      ul {
        opacity: 1;
        display: block;
      }
    }

    //dropdowns
    ul {
      position: absolute;
      left: 0;
      top: 30px;
      text-align: left;
      background: #FFFFFF;
      opacity: 0;
      display: none;

      li {
        display: block;
      }
      a {
        padding: 15px 55px 15px 10px;
        font-size: 12px;
        display: block;
        white-space: nowrap;
        border-bottom: 1px solid #DBDCDE;
        color: #148C98;
        &:last-child {
          border: none;
        }
      }
    }
    
    a {
      padding: 15px 10px;
      color: $color-nav-level-1-text;
      &:hover {
        background: #308C8E;
        color: #FFFFFF;
      }
    }
  }
  .menu-icon {
    display: none;
    margin-top: 40px;
    @include breakpoint ($breakpoint-lg) { display: block; }
    @include breakpoint ($breakpoint-smmd) { margin-top: 50%; position: relative; }
  }
}

nav.mobile {
  display: none;
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #27A4BA;
  z-index: 100;
  ul {
    text-align: center;
    padding: 20px;
  }
  a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    display: block;
    padding: 15px 0;
    white-space: nowrap;
  }

  .mobile-nav-close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
    white-space: nowrap;
    display: block;
    background: none;
    border: none;
    color: #FFFFFF;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Open Sans';
    letter-spacing: .5px;
    .icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 55px;
      font-weight: 400;
      transform: rotate(46deg);
      margin-top: -6px;
      margin-left: 2px;
    }
  }
  .row {
    max-width: 500px;
    margin: 0 auto;
  }
  .mobile-nav-buttons a {
    margin-top: 25px;
    padding: 18px 0;
    color: #FFFFFF;
    text-transform: uppercase;
    background: none;
    border: none;
    font-size: 14px;
    white-space: nowrap;
    letter-spacing: .5px;
    font-family: 'Open Sans';
    background: #148C97;
    font-weight: 600;
    text-align: center;
    // padding-left: 3px;
    @include breakpoint ($breakpoint-sm) { font-size: 13px; }
    &:first-child {
     border-right: 1px solid #FFFFFF; 
    }
  }
}

.post-header {
  background: $color-post-nav-bg;
  font-size: 12px;
  text-transform: uppercase;
  @include breakpoint ($breakpoint-lg) { height: 10px; }
  @include breakpoint ($breakpoint-smmd) { height: 5px; }

  .content-container {
    padding: 0 35px;
  }

  .header-specialties li {
    display: inline-block;
    a {
      display: block;
      padding: 10px 15px;
      color: $color-post-nav-item-text;
      cursor: pointer;
    }

    @include breakpoint ($breakpoint-lg) { display: none;  }

    &:nth-of-type(1) {
      margin-right: 10px;
      padding-left: 0;
    }
  }

}

.mobile-nav-open-button {
  height: 24px;
  width: 25px;
  border-top: 4px solid #148C98;
  border-bottom: 4px solid #148C98;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #148C98;
    top: 50%;
    margin-top: -2px;
  }
}