.home-hero {

  background: #158DA5;
  position: relative;
  overflow: hidden;
  padding: 115px 0;
  @include breakpoint ($breakpoint-mdlg) { padding: 70px 0; }
  @include breakpoint ($breakpoint-mdlg) { padding-bottom: 100px; }
  @include breakpoint ($breakpoint-smmd) { padding: 30px 0; }

  @include contentContainer();

  .left-content {
    @include breakpoint ($breakpoint-mdlg) { width: 300px; }
    @include breakpoint ($breakpoint-smmd) { width: 100%; text-align: center; }
  }

  img {
    position: absolute;
    z-index: -1;
  }

  h2 {
    color: $color-h2;
    font-size: 42px;
    font-family: 'Open Sans';
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0,0,0, .15);
    @include breakpoint ($breakpoint-mdlg) {
      display: inline;
      font-size: 30px;
      line-height: 38px;
    }
    @include breakpoint ($breakpoint-smmd) { font-size: 22px; line-height: 20px; display: block; margin-bottom: 10px; }
  }

  p {
    color: #C9C9C9;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    @include breakpoint ($breakpoint-mdlg) { margin: 30px 0 35px; }
    @include breakpoint ($breakpoint-smmd) { margin: 10px 0; font-size: 18px; }
  }

  .hero-wrapper {
    top: 0;
    left: 360px;
    bottom: 0;
    height: 100%;
    width: 1750px;
    background: url(../img/home-hero-desktop.png);
    background-size: cover;
    z-index: 1;
    position: absolute;
    max-height: 100%;
    max-width: 1750px;

    @media screen and (max-width: 1600px) {
      left: 0;
    }

    @media screen and (max-width: 1300px) {
      left: -90px;
    }

    @include breakpoint ($breakpoint-xl) { left: -240px; }
    @include breakpoint ($breakpoint-lg) { left: -290px; }
    @include breakpoint ($breakpoint-mdlg) { left: -390px; width: 1650px; }
    @include breakpoint ($breakpoint-smmd) { background: url('../img/home-hero-mobile.jpg'); left: 0; width: 100%; background-size: cover;}
  }
  .content-container {
    z-index: 2;
    position: relative;
  }
}

.home-welcome {
  
  .content-container {
    padding: 0 35px;
    @include breakpoint ($breakpoint-smmd) { padding: 0 15px; }
  }
  
  .lattice {
    position: absolute;
    height: 325px;
    border-bottom: 5px solid $color-main-yellow;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    @include breakpoint ($breakpoint-smmd) { height: 105px; }
    img {
      height: 100%;
      @include breakpoint ($breakpoint-smmd) { height: 100px; }
    }
  }
  
  .welcome-header {
    padding: 70px 0;
    @include breakpoint ($breakpoint-lg) { text-align: center; padding: 40px; }
    @include breakpoint ($breakpoint-smmd) { padding: 15px 0; }
  }
  
  .specialties-list {
    width: 300px;
    li {
      float: left;
      width: 40%;
    }
  }
  
  .learn-more-button {
    margin-top: 10px;
  }
  
  h3 {
    font-size: 39px;
    color: $color-h3;
    @include breakpoint ($breakpoint-smmd) { font-size: 20px; font-weight: 300; padding: 0 35px; }
  }
  
  button {

    &:not(.learn-more-button) { 
      float: right;
      @include breakpoint ($breakpoint-lg) { float: none; margin-top: 25px; }
      @include breakpoint ($breakpoint-smmd) { display: none; }
    }
  }

  .mobile-specialties {
    display: none;
    @include breakpoint ($breakpoint-smmd) { display: block; }
  }

  .desktop-specialties {
    @include breakpoint ($breakpoint-smmd) { display: none; }
  }

  .card {
    @include breakpoint ($breakpoint-smmd) { margin-bottom: 15px; }
    
    li {
      margin-left: 8px;
    }
  }

  .card h4 {
    margin-bottom: 15px;
   
    @include breakpoint ($breakpoint-lg) { font-size: 28px; }
    @include breakpoint ($breakpoint-smmd) { font-size: 28px; margin-bottom: 8px; }
  }

  .card h5 {
    text-transform: none;
    color: #6C999D;
    font-size: 19px;
    margin-bottom: 10px;
   
    @include breakpoint ($breakpoint-smmd) { font-size: 15px; margin-bottom: 20px; }
  }

  h6 {
    font-size: 42px;
    margin-bottom: 15px;
    color: $color-h6;
   
    @include breakpoint ($breakpoint-lg) { font-size: 32px; line-height: 38px; }
    @include breakpoint ($breakpoint-smmd) { font-size: 28px; line-height: 28px; margin-bottom: 10px; }
  }

}

.home-services {

  @include contentContainer();

  .card {
    @include breakpoint ($breakpoint-lg) { margin-top: 30px; }
    @include breakpoint ($breakpoint-lg) { margin-top: 15px; }
    .card-content {
      @include breakpoint ($breakpoint-lg) { padding: 8px; }
    }
  }

  .card h5 {
    text-transform: none;
    color: #6C999D;
    font-size: 19px;
    margin-bottom: 5px;
   
    @include breakpoint ($breakpoint-lg) { font-size: 15.5px; margin-bottom: 0; letter-spacing: 0; }
    @include breakpoint ($breakpoint-mdlg) { font-size: 18px; margin-bottom: 5px; }
    @include breakpoint ($breakpoint-smmd) { font-size: 13px; line-height: 14px; margin: 0;}
  }

  .more-link {
    font-size: 12px;
    @include breakpoint ($breakpoint-smmd) { margin-top: 0; font-size: 11px; }
  }

  .section-header {
    @include breakpoint ($breakpoint-lg) { margin-bottom: 0; }
  }

}

.section-header {

  margin: 60px 0;

  @include breakpoint ($breakpoint-smmd) { margin: 10px 0 0; }

  h6 {
    font-size: 40px;
    color: $color-h6;
    margin-bottom: 15px;
    
    @include breakpoint ($breakpoint-smmd) { font-size: 24px; margin-bottom: 8px; }
  }
  p {
    font-size: 19px;
    color: #6C999D;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: .5px;
  
    @include breakpoint ($breakpoint-smmd) { font-size: 13px; line-height: 16px; margin-bottom: 10px; }
  }

}

.home-experience {

  margin-top: 80px;
  height: 380px;

  @include breakpoint ($breakpoint-lg) { margin-top: 25px; }
  @include breakpoint ($breakpoint-smmd) { height: 160px; }

  .content-container {
    padding: 150px 35px 50px;
 
    @include breakpoint ($breakpoint-lg) { text-align: center; padding: 200px 20px 0 20px; }
    @include breakpoint ($breakpoint-smmd) {  padding: 50px 20px 0 20px; }
  }

  .lattice {
    height: 380px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
  
    @include breakpoint ($breakpoint-smmd) { height: 160px; }
  
    img {
      height: 100%;
    }
  }

  h2 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #FFFFFF;

    @include breakpoint ($breakpoint-mdlg) { font-size: 28px; font-weight: 300; margin-bottom: 5px; }
    @include breakpoint ($breakpoint-smmd) { font-size: 13.5px; font-weight: 400; }
  }

  p {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 19px;
    line-height: 25px;

    @include breakpoint ($breakpoint-lg) { margin-bottom: 15px; }
    @include breakpoint ($breakpoint-mdlg) { font-size: 18px; }
    @include breakpoint ($breakpoint-smmd) { font-size: 13px; line-height: 16px; margin-bottom: 8px; padding: 0 25px; }
  }

  button {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 15px;
    float: right;

    @include breakpoint ($breakpoint-lg) { float: none; }
    @include breakpoint ($breakpoint-smmd) { padding: 6px 40px; margin-top: 2px; }
  }
}

.home-recent-news{

  @include contentContainer();

  .card {
    @include breakpoint ($breakpoint-smmd) { margin-bottom: 15px; }
  }
}

.home-testimonials {
  margin-top: 80px;

  @include breakpoint ($breakpoint-smmd) { margin-top: 15px; }

  @include contentContainer();

  .section-header {
    margin-top: 0;
  }

  .testimonial-person {
    color: #89B0C3;
  }
  
  .sep {
    color: #ADADAD;
    display: inline-block;
    margin: 0 4px;
    font-weight: 300;
  }

}

.home-newsletter{
  margin-top: 80px;
  height: 180px;

  @include breakpoint ($breakpoint-smmd) { margin-top: 15px; height: 100px; }

  .content-container {
    padding: 70px 35px 50px;
    @include breakpoint ($breakpoint-lg) { padding-top: 30px; text-align: center; }
    @include breakpoint ($breakpoint-smmd) { padding: 15px 15px; }
  }

  .lattice {
    height: 180px;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-bottom: 7px solid $color-main-yellow;
    @include breakpoint ($breakpoint-smmd) { height: 100px; border-width: 5px; }
  }

  h2 {
    font-size: 38px;
    font-weight: 400;
    color: #FFFFFF;
    @include breakpoint ($breakpoint-lg) { font-size: 35px; font-weight: 400; }
    @include breakpoint ($breakpoint-smmd) { font-size: 18px; }
  }

  .email-submit-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    padding: 12.5px 23px;
  }

  .input-group {
   
    @include breakpoint ($breakpoint-lg) {  margin: 30px auto 0; }
    @include breakpoint ($breakpoint-smmd) { width: 250px; margin-top: 5px; }
  
    input {
      min-width: 200px;
      width: 100%;
      font-size: 14px;
      padding: 14px;
      border: none;
      background: #FFF;
      border-radius: 4px 0px 0px 4px;
      height: 49px;
      // line-height: 49px;
      vertical-align: middle;
   
      @include breakpoint ($breakpoint-smmd) { padding: 0 10px; font-size: 11px; height:32px; line-height: 32px; }
    }
  
    button {
      margin-left: -2px;
      height: 49px;
      vertical-align: middle;
      @include breakpoint ($breakpoint-smmd) { padding: 9px 18px; height: 32px; }
    }
  }
}

.home-details {
  margin-top: 70px;
  
  @include breakpoint ($breakpoint-smmd) { margin-top: 20px; }
  
  .content-container {
    padding: 0 35px;
    @include breakpoint ($breakpoint-smmd) { padding: 0 15px; }
  }

  h5 {
    color: #148C98;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 22px;
    @include breakpoint ($breakpoint-smmd) { font-size: 12.5px; margin-bottom: 10px; }
  }
  p {
    font-size: 14px;
    line-height: 20px;
    @include breakpoint ($breakpoint-smmd) { font-size: 11.5px; line-height: 14px; }
  }

  .row > div {
   @include breakpoint ($breakpoint-smmd) {  margin-top: 15px; }
  }
}

.home-pre-footer-logo {
  margin: 75px 0;
  @include breakpoint ($breakpoint-smmd) { margin: 35px 0 10px; }
  .content-container {
    @include breakpoint ($breakpoint-smmd) { padding: 0 25px; }
  }
  img {
    width: 100%;
  }
}

footer {
  font-size: 13px;
  color: #175B67;

  .content-container {
    padding: 0 35px;
    @include breakpoint ($breakpoint-smmd) { padding: 0 15px; }
  }

  b {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
  }

  li {
    margin-top: 10px;
  }

  .footer-column {
    width: 20%;
    @include breakpoint ($breakpoint-lg) { display: none; }
  }
}

.sub-footer {
  margin-top: 75px;
  margin-bottom: 20px;

  @include breakpoint ($breakpoint-smmd) { font-size: 9.5px; text-align: center; margin: 0 0 10px 0;}
  
  .left, .right {
    @include breakpoint ($breakpoint-smmd) { float: none; }
  }
  > .right {
    text-align: right;
  }
  a {
    display: inline-block;
    margin-right: 20px;
    @include breakpoint ($breakpoint-smmd) { margin-right: 10px; }
  }
  .facebook-icon img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  .site-by, .copyright {
    margin-top: 10px;
    display: block;
    color: #8E8E8E;
    margin: 10px 0;
  }
  .like {
    @include breakpoint ($breakpoint-smmd) { display: none; }
  }
}
