.page-appointment {
  margin-top: 50px;

  @include breakpoint ($breakpoint-smmd) { margin-top: 25px; }

  @include contentContainer();

  .page-content {
    width: 65%;
    float: left;
    @include breakpoint ($breakpoint-mdlg) { width: 100%; float: none; }
  }

  .page-menu {
    float: right;
    @include breakpoint ($breakpoint-mdlg) { display: none; }
  }

  .page-header {
    font-size: 36px;
    margin-bottom: 20px;
    margin-right: 0;
    @include breakpoint ($breakpoint-md) { font-size: 25px; margin-bottom: 10px; }
  }

  .page-subheading {
    margin-bottom: 40px;
  }

  b {
    font-size: 14px;
  }

}

form {
  font-size: 14px;

  input, textarea {
    font-size: 15px;
  }

  input[type="text"], textarea {
    padding: 12px;
    border-radius: 2px;
    border: 1px solid #DDDDDD;
    width: 100%;
  }

  textarea {
    height: 200px;
  }

  label {
    font-size: 14px;
    margin-bottom: 12px;
    display: inline-block;

    @include breakpoint ($breakpoint-mdlg) { margin: 25px 0 15px; }
  }

  .row {
    padding-top: 30px;

    @include breakpoint ($breakpoint-mdlg) { padding-top: 10px}
    .row {
      padding: 0 0 0 0;
    }
  }

  .day-of-week-row input {
    margin: 0 5px 0 30px;
    @include breakpoint ($breakpoint-lg) { margin: 0 5px 20px 15px; }
  }
  
  .day-of-week-row > div input:first-child {
    margin-left: 0;
  }
  
  hr {
    background-color: white;
    color: white;
    border: 0;
    height: 2px;
    border-color: white;
    margin: 40px 0 30px;
  }
  
  .form-header {
    font-size: 19px;
    color: #148C98;
    margin-bottom: 10px;
    @include breakpoint ($breakpoint-mdlg) { margin-bottom: 0; }
  }

  input.date-of-birth, input.phone-field {
    width: 70px;
    margin-right: 5px;
    margin-bottom: 15px;
  }
  
  .custom-radio {
    margin-right: 10px;
    margin-top: 12px;
    margin-left: 25px;
    @include breakpoint ($breakpoint-smmd) { margin-left: 10px;}
    &:nth-of-type(1) { margin-left: 0; }
  }
  
  .custom-checkbox {
    margin-right: 6px;
    margin-top: 1px;
    margin-left: 25px;
    @include breakpoint ($breakpoint-smmd) { margin-left: 5px;}
    &:nth-of-type(1) { margin-left: 0; }
  }

  button {
    margin-top: 35px;
  }
  
  .phone-type-text {
    display: inline-block;
    margin-right: 10px;
  }

}