.page-physicians {

  margin-top: 50px;

  @include breakpoint ($breakpoint-smmd) { margin-top: 25px; }
  @include contentContainer();

  .section-header {
    margin-top: 20px;
  }

  .physician-cards {

    .card {
      position: relative;
      margin-bottom: 20px;

      li {
        margin-left: 15px;
      }

      .text-tab:before {
        left: -35px;
      }

    }

    .physician-info-heading {
      color: #6C999D;
      font-size: 19px;
      margin: 15px 0 10px;
    }

    .physician-name-wrapper {
      position: absolute;
      top: 55px;
      left: 35px;
      color: #FFFFFF;
      font-size: 24px;

      @include breakpoint ($breakpoint-lg) { top: 35px }
      @include breakpoint ($breakpoint-mdlg) { top: 45px }
      @include breakpoint ($breakpoint-md) { font-size: 22px; }
      @include breakpoint ($breakpoint-smmd) { font-size: 17px; top: 30px; left: 20px; }

      .physician-name {
        margin-bottom: 6px;
      }
      
      > div {
        letter-spacing: .5px;
        @include breakpoint ($breakpoint-mdlg) { display: inline; }
      }
    
    }
  }
}