.page-patients {
  
  margin: 50px 0 100px;
  position: relative;

  @include breakpoint ($breakpoint-smmd) { margin-top: 25px; }
  
  @include contentContainer();

  p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
  }

  .page-main-copy li {
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
  }

  h6 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    color: #148C98;
  }

  .desktop-image {
    @include breakpoint ($breakpoint-lg) { display: none; }
  }

  .mobile-image {
    display: none;
    margin-bottom: 20px;
    @include breakpoint ($breakpoint-lg) { display: block; width: 65%; }
    @include breakpoint ($breakpoint-md) { width: 100%; }
  }

  .desktop-only-menu {
    margin-top: 35px;
    @include breakpoint ($breakpoint-lg) { display: none; }
  }

  .page-menu {
    @include breakpoint ($breakpoint-lg) { position: absolute; top: 0; right: 0; }
  }

  .page-headings-wrapper {
    float: left;
    width: 63%;
    @include breakpoint ($breakpoint-lg) { width: 100%; float: none;}

    .page-header {
      margin-right: 0;
      font-size: 42px;
      @include breakpoint ($breakpoint-lg) { font-size: 32px; width: 65%; }
      @include breakpoint ($breakpoint-md) { width: 100%; }
    }

    small {
      @include breakpoint ($breakpoint-mdlg) { display: block; font-size: 22px; margin-top: 5px; line-height: 28px; }
    }
  }

  .page-main-copy {
    width: 70%;
    clear: left;
    @include breakpoint ($breakpoint-lg) { width: 100%; clear: both; }

    .page-header {
      font-size: 30px;
      @include breakpoint ($breakpoint-mdlg) { font-size: 24px; }
    }

  }

  .need-help {
    color: #1694AF;
    font-weight: 700;
    font-size: 14px;
    display: block;
    margin-top: 25px;
  }
}