.page-hero {
  background: #158DA5;
  padding: 49px 0;
  
  @include breakpoint ($breakpoint-smmd) { padding: 30px 0; }
  
  @include contentContainer();

  .left-content {
    @include breakpoint ($breakpoint-smmd) { width: 100%; text-align: center; }
  }

  h2 {
    color: $color-h2;
    font-size: 42px;
    font-family: 'Open Sans';
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0,0,0, .15);
    @include breakpoint ($breakpoint-smmd) { font-size: 22px; line-height: 20px; }
  }

}


.page-services {
  
  @include contentContainer();

  .services-cards {
    margin-top: 25px;
  }

  .card {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 40px;
    margin-bottom: 10px;
    @include breakpoint ($breakpoint-lg) { font-size: 32px; margin-bottom: 8px; }
    @include breakpoint ($breakpoint-smmd) { font-size: 28px; }
  }
  p {
    @include breakpoint ($breakpoint-lg) { font-size: 13px;  }

  }
}